:host {
  display: block;
  height: 100vh;
  width: 100vw;

  .app {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;

    nav {
      flex: 0 0 200px;
      border: 1px solid grey;
      padding: 10px;

      .selected {
        background: blue;
        color: white;
      }
    }

    .content {
      padding: 10px;
      flex: 1
    }

    #toast-container {
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 1000;
    }
  }
}
