<h1>Color button example</h1>
<app-color-button [color]="color"></app-color-button>
<app-color-button [color]="color"></app-color-button>
<app-color-button [color]="color"></app-color-button>
<app-color-button [color]="color"></app-color-button>
<app-color-button [color]="color"></app-color-button>
<app-color-button [color]="color"></app-color-button>
<app-color-button [color]="color"></app-color-button>
<app-color-button [color]="color"></app-color-button>
<app-color-button [color]="color"></app-color-button>
<app-color-button [color]="color"></app-color-button>
<app-color-button [color]="color"></app-color-button>

